.container{
    background-color: #04070E;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    flex-direction: column;
    
    padding: 16px 148px;
}

.title{
    font-size: 36px;
}

.text{
    font-size: 24px;
    font-weight: 400;
}